CLIENT_ID="288258994734-5glt3g4trm8cl8jrpfj96ljs7g7cn0ns.apps.googleusercontent.com"
CLIENT_SECRET="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"
REDIRECT_URI="http://localhost:4200/oauth2callback"
DEVELOPER_TOKEN="YahGwwzjunfhMYnITuRIUg"
DATABASE_URL="postgresql://abdulbasitalabi@localhost/google-ads"
CLIENT_SECRETS_PATH="/Users/abdulbasitalabi/Downloads/credential.json"
PROJECT_NUMBER="288258994734"
PROJECT_ID="smartinsigjt"
MANAGER_CUSTOMER_ID="5280224297"
