<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Default Account</title>
    <style>
        body {
            font-family: 'Comic Sans MS', cursive, sans-serif;
            background: linear-gradient(to right, #ff5f6d, #ffc371);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            color: #fff;
        }

        .container {
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            padding: 50px;
            border-radius: 20px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        }

        h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        .button {
            background: #00c6ff;
            background: linear-gradient(to right, #0072ff, #00c6ff);
            border: none;
            border-radius: 30px;
            padding: 15px 30px;
            font-size: 1.2em;
            color: #fff;
            cursor: pointer;
            transition: transform 0.2s, background 0.3s ease;
            margin: 20px 0;
        }

        .button:hover {
            background: linear-gradient(to right, #00c6ff, #0072ff);
            transform: scale(1.1);
        }

        .spinner {
            display: none;
            margin: 0 auto;
            margin-top: 20px;
            border: 5px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top: 4px solid #fff;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 300px;
            text-align: center;
            border-radius: 10px;
        }

        .modal-spinner {
            margin: 0 auto;
            border: 4px solid rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            border-top: 4px solid #000;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: center;
        }

        th {
            background: #0072ff;
            color: #fff;
        }

        td {
            background: #fff;
            color: #000;
        }

        #modal-message {
            color: green;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Select Default Account</h1>

        <table id="accounts-table">
            <thead>
                <tr>
                    <th>Customer Resource Name</th>
                    <th>Customer Name</th>
                    <th>Currency</th>
                    <th>Time Zone</th>
                    <th>Has Manager?</th>
                    <th>Customer Client Resource Name</th>
                    <th>Hidden?</th>
                    <th>Level</th>
                    <th>Set Default</th>
                </tr>
            </thead>

            <tbody></tbody>

        </table>
        <div class="spinner" id="page-spinner"></div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-spinner" id="modal-spinner"></div>
            <p id="modal-message">Setting default account...</p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', fetchAccounts);

        function fetchAccounts() {
            const spinner = document.getElementById('page-spinner');
            spinner.style.display = 'block';
            let serverURL = "https://g-ads-api.onrender.com";
            const refreshToken = localStorage.getItem('refreshToken');
            const email = localStorage.getItem('email');
            const id = localStorage.getItem('uuid');
            const pathParts = window.location.pathname.split('/');
            const customerId = pathParts[pathParts.length - 1];
            console.log({ customerId });

            fetch(`/handle_ads_request`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, account_id: customerId, type: "queryCustomers" })
            })
                .then(async response => {
                    if (response.status === 400) {
                        const err = await response.json();
                        console.log({ err });
                        return showModal(err.message);
                    }
                    return response.json();
                })
                .then((data) => {
                    spinner.style.display = 'none';
                    if (data.error) {
                        showModal(data.error);
                    } else {
                        console.log({ data });
                        if (data.length === 0) {
                            return showModal("No accounts found");
                        }
                        displayAccounts(data.customers);
                    }
                })
                .catch(error => {
                    spinner.style.display = 'none';
                    console.error('Error:', error);
                    showModal('An error occurred. Please try again.');
                });
        }

        function displayAccounts(accounts) {
            const tableBody = document.querySelector('#accounts-table tbody');
            tableBody.innerHTML = '';
            accounts.forEach(account => {
                const row = document.createElement('tr');
                const customerId = account.customer.resourceName.split("/")[1];
                const accountId = account.customerClient.resourceName.split("/")[3];
                if (customerId != accountId) {
                    row.innerHTML = `
                        <td>${account.customer.resourceName}</td>
                        <td>${account.customer.descriptiveName}</td>
                        <td>${account.customer.currencyCode}</td>
                        <td>${account?.customer.timeZone}</td>
                        <td>${account.customer.manager}</td>
                        <td>${account.customerClient.resourceName}</td>
                        <td>${account.customerClient.hidden}</td>
                        <td>${account.customerClient.level}</td>
                        <td><button class="button" onclick="setDefaultAccount('${accountId}')">Set Default</button></td>
                    `;
                    tableBody.appendChild(row);
                }
            });
        }

        function setDefaultAccount(accountId) {
            const modal = document.getElementById('myModal');
            const modalMessage = document.getElementById('modal-message');
            const modalSpinner = document.getElementById('modal-spinner');
            modalMessage.innerText = 'Setting default account...';
            modalSpinner.style.display = 'block';
            modal.style.display = 'block';
            const email = localStorage.getItem('email');
            fetch(`/set_default_account`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, account_id: accountId })
            })
                .then(response => response.json())
                .then(data => {
                    modalSpinner.style.display = 'none';
                    if (data.error) {
                        modalMessage.innerText = data.error;
                    } else {
                        // console.log({ data });
                        // modalMessage.innerText = data.message;
                        showModal(data.message)
                    }
                    // setTimeout(() => {
                    //     modal.style.display = 'none';
                        
                    // }, 3000);
                })
                .catch(error => {
                    modalSpinner.style.display = 'none';
                    console.error('Error:', error);
                    modalMessage.innerText = 'An error occurred. Please try again.';
                    setTimeout(() => {
                        modal.style.display = 'none';
                    }, 3000);
                });
        }

        function showModal(message) {
            console.log('Showing modal with message:', message);
            const modal = document.getElementById('myModal');
            const modalMessage = document.getElementById('modal-message');
            const modalSpinner = document.getElementById('modal-spinner');
            modalSpinner.style.display = 'none';
            modalMessage.innerText = message;
            modal.style.display = 'block';
    
            setTimeout(() => {
                console.log('Redirecting after modal close');
                modal.style.display = 'none';
                let redirectURI = "http://localhost:4200/redirect"
                window.location.href = redirectURI; // Redirect after 3 seconds
            }, 3000);
        }
    </script>
</body>

</html>